<div class="container">
  <div class="row center-align">
    <div class="col s12"><button class="waves-effect waves-light btn" (click)="cambiarDados()">¡Girar!</button></div>
    <div class="col s6"><img class="blue lighten-1" [src]="urlUno" [ngStyle]="{'max-width': '300px', 'border-radius':'15px'}"></div>
    <div class="col s6"><img class="blue lighten-1" [src]="urlDos" [ngStyle]="{'max-width': '300px', 'border-radius':'15px'}"></div>
    <div class="col s12" *ngIf="gano"><span class="waves-effect waves-light btn" [ngStyle]="{'cursor': 'default'}">¡Ganaste!</span></div>
  </div>
</div>